.brand_2aHQJ {
    cursor: pointer
}

.brand_2aHQJ .logo_1OKcB {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 16px
}

.brand_2aHQJ .logoText_3rRis {
    height: 32px;
    width: 140px;
    vertical-align: middle
}